
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
 }
::-webkit-scrollbar{
	height: 0;
	//width: 2opx;
}
::-webkit-scrollbar-track{
	background: #000000;
} 
::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(45deg, #f06, #3cf);
	border-radius: 0.5rem;
}
body{
	  background: black;;
	  color: #fff;
    }

.container-fluid{
	padding-left: 0rem;
	padding-right: 0rem;
	overflow: hidden;
 }
 
.header{
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 10%;
	background:black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100%;
	transition: all .50s ease;
  }
	
.navbar-brand{
	font-family: Comic Sans ;
	letter-spacing: 3px;
	opacity: 0;
	animation: slideTop 1s ease forwards;
}

.navbar-brand:hover{
	background: -webkit-linear-gradient(45deg, #f06, #3cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navbar{
	display: flex;
}
.navbar a{
	display: inline-block;
	top: 8px;
	float: left;
	font-size: 25px;
	color: white;
	padding: 8px 0;
	text-decoration: none;
	font-weight: 500;
	margin-left: 30px;
	margin-right: 5px;
	opacity: 0;
	animation: slideTop .5s ease forwards;
	animation-delay: calc(.2s * var(--i));
}
.navbar a.active,
.navbar a:hover{
	background: -webkit-linear-gradient(45deg, #f06, #3cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.navbar a.active{
	color: -webkit-linear-gradient(45deg, #f06, #3cf);
}
.header .navbar-toggler{
	border: 0;
	color: gray;
	line-height: 2;
}
.header .navbar-nav .nav-link{
	position: relative;
	font-size: 20px;
	font-weight: 500;
	display: inline-block;
}
.row-home{
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 35px;
	overflow: hidden;
	padding:  30px 10% 0;
}
.home-sci{
	margin-bottom: 120px;	
}
.home-sci a{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 31px;
	background: linear-gradient(45deg,#f06,#3cf);
	border-radius: 50%;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	margin: 16px 0;
	z-index: 1;
}
.home-sci a:nth-child(1){
	opacity: 0;
	animation: slideBottom 1s ease forwards;
	animation-delay: 2.1s;
}
.home-sci a:nth-child(2){
	opacity: 0;
	animation: slideLeft 1s ease forwards;
	animation-delay: 2.1s;
}
.home-sci a:nth-child(3){
	opacity: 0;
	animation: slideRight 1s ease forwards;
	animation-delay: 2.1s;
}
.home-sci a:nth-child(4){
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 2.1s;
}
.home-sci a::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(45deg,#f06,#3cf);
	border-radius: 50%;
	z-index: -1;
	transition: .5s ease;
}
.home-sci a:hover::before{
	filter: blur(5px);
	
}
.home-sci a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #0c1022;
	border-radius: 50%;
	transform: scale(.88);
	z-index: -1;
	transition: .5s ease;
}
.home-sci a:hover::after{
	transform: scale(0);
}

.home-content{
	margin-bottom: 70px;
}
.home-content h2{
	margin-left: 5px;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.3;
	color: #cc0066;
	animation: slideLeft 1s ease forwards;
	animation-delay: 1.3s;
}
 
.home-content h1{
	margin-left: 17px;
	font-size: 47px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 1.4;
	animation: slideLeft 1s ease forwards;
	animation-delay: .7s;
}

.home-content h4{
	font-size: 29px;
	margin-top: 60px;
	letter-spacing: 4px;
	color: #66b2ff;
	line-height: 1.4;
	animation: slideRight 1s ease forwards;
	animation-delay: 1s;
}
.multitext{
	background: -webkit-linear-gradient(45deg,#f06,#3cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: captitalize;
}

.row-img img{
	margin-top: 93px !important;
	border-radius: 50%;
	border: 2px solid #0000cc;
	margin-left: 83px;	
	height: 335px;
	width: 327px;
	position: relative;
}

.btn{
	top: 34px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 48px;
	border-radius: 40px;
	font-size: 19px;
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 1px;
	z-index: 1;
	opacity: 0;
	animation: slideTop 1s ease forwards;
	animation-delay: 1.8s;
}

.btn::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	inset: 0;
	background: linear-gradient(45deg, #f06, #3cf, #f06);
	background-size: 200%;
	background-position: 0 0;
	z-index: -1;
	border-radius: 40px;
	filter: blur(5px);
	transition: .5s ease;
}

.btn:hover::before{
	background-position: 100% 0;
}

.btn::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	inset: 0;
	background: linear-gradient(45deg, #f06, #3cf, #f06);
	background-position: 0 0;
	background-size: 200%;
	z-index: -1;
	border-radius: 40px;
	transition: .5s ease;
}

.btn:hover::after{
	background-position: 100% 0;
}

.about{
	font-size: 17px;
	margin-top: 40px;
	animation: slideLeft 1s ease forwards;
}

.aboutme{
	animation: slideTop 1s ease forwards;
	position: relative;
	font-size: 40px;
	margin-top: 11px;
}
.aboutme span{
	position: relative;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	animation-delay: calc(.1s * var(--i));
	background: -webkit-linear-gradient(45deg,#f06,#3cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: captitalize;
	font-weight: bold;
}

.img-fluid{
	width: 20px;
	height: 410px;
	animation: slideRight 1s ease forwards;
}

.text-info{
    background: -webkit-linear-gradient(45deg,#f06,#3cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: captitalize;
}
.one{
	width:60px !important;
	padding:9px;
	margin-bottom: 6px;
}
.skill{
	animation: slideTop 1s ease forwards;
}
.myskills{
	animation: slideRight 1s ease forwards;
	position: relative;
	font-size: 40px;
}
.myskills span{
	position: relative;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	animation-delay: calc(.1s * var(--i));
	background: -webkit-linear-gradient(45deg,#f06,#3cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: captitalize;
	font-weight: bold;
}
.myskill{
	margin-top: 20px;
}
.progress{
	position: relative;
	background: #fff;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.bg-primary{
	background: -webkit-linear-gradient(45deg,#f06,#3cf)!important;
}
.bg-warning{
	background: -webkit-linear-gradient(45deg,#f06,#3cf)!important;
}
.progress span{
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0;
	background: -webkit-linear-gradient(45deg,#f06,#3cf)!important;
	border-radius: 25px;
}
#scroll-progress {
  position: fixed;
  top: 0;
  width: 0%;
  height: 4px;
  background: #7983ff;
  z-index: 10000;
}

.skill .progress .html{
	width: 95%;
	animation: html 2s;
}
.skill .progress .css{
	width: 80%;
	animation: css 2s;
}
.skill .progress .bootstrap{
	width: 90%;
	animation: bootstrap 2s;
}
.skill .progress .java{
	width: 70%;
	animation: java 2s;
}
.skill .progress .sql{
	width: 78%;
	animation: sql 2s;
}
.skill .progress .salesforce{
	width: 84%;
	animation: salesforce 2s;
}
.services{
	position: relative;
	font-size: 35px;
}
.services span{
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	animation-delay: calc(.1s * var(--i));
	background: -webkit-linear-gradient(45deg,#f06,#3cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: captitalize;
	font-weight: bold;
}

.service-icon img{
	height: 70px;
	width: 70px;
}
.row-container{
	 position:relative;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 flex-wrap: wrap;
	 padding: 60px 0;
	 gap: 60px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
 }
 .service-box{
	 position: relative;
	 width: 330px;
	 height: 350px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 box-shadow: 0px 2px 7px rgba(0,0,0,0.1);
	 padding-left: 15px;
	 padding-right: 15px;
	 flex-direction: column;
	 text-align: center;
	 border-radius: 0.5rem;
	 border-bottom: 3px solid #000099;
	 border-top: 3px solid #000099;
	 animation: slideTop 1s ease forwards;	transition: 0.5s all ease-in-out;
 }
 
.service-box:hover{
	box-shadow: 0px 1px 25px rgba(27,27,27,0.795);
	filter: drop-shadow(0 0 20px #202020);
	background: #99004c;
	border-color: #ffffff;
	transform: scale(1.5);
}
.service-box h4{
	font-size: 1.5rem;
	font-weight: 600;
	margin: 0.7rem 0 0.4rem;
	transition: .5s ease;
}
.service-box:hover h4{
	color: #000000;
}

.service-box a{
	font-size: 20px;
	font-weight: 500;
	background: -webkit-linear-gradient(45deg,#f06,#3cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: captitalize;
}
.education{
	animation: slideRight 1s ease forwards;
	position: relative;
	font-size: 35px;
}
.education span{
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	animation-delay: calc(.1s * var(--i));
	background: -webkit-linear-gradient(45deg,#f06,#3cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: captitalize;
	font-weight: bold;
}
.education-box{
	border-left: .2rem solid #ff66ff;
	animation: slideRight 1s ease forwards;
}
.education-content{
	position: relative;
	padding-left: 2rem;
}
.education-content::before{
	content: '';
	position: absolute;
	top: 0;
	left: -10px;
	width: 17px;
	height: 17px;
	background: #ff66ff;
	border-radius: 50%;
}
.content{
	position: relative;
	padding: 1rem;
	border-radius: .6rem;
	margin-bottom: 0.5rem;
	overflow: hidden;
}
.content::before{
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0%;
	height: 100%;
	background: #660066;
	z-index: -1;
	transition: .5s;
}
.content:hover::before{
	width: 100%;
	
}
.year{
	font-size: 20px;
	padding-bottom: .5rem;
	color:#ff66ff;
}
.year img{
	height: 30px;
	width: 30px;
	padding-right: .5rem;
}
.content h5{
	font-size: 22px;
}
.content p{
	font-size: 17px;
}
.contact{
	animation: slideRight 1s ease forwards;
	position: relative;
	font-size: 37px;
}
.contact span{
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	animation-delay: calc(.1s * var(--i));
	background: -webkit-linear-gradient(45deg,#f06,#3cf);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: captitalize;
	font-weight: bold;
}

.first-text{
	padding-left: 25px;
	font-size: 30px;
}
.image{
	height: 300px;
	width: 330px;
	padding-left: 10px;
}
.icon img{
	height: 30px;
	width: 33px;
	margin-left: 15px;
}
.box{
	position: relative;
	display: flex;
}
.icon{
	min-width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
	padding-right: 22px;
}

.second-text{
	font-size: 30px;
	position: relative;
	top: 20px;
	left: 20px;
	padding-top: 10px;
	color: ;
}

.card-title{
	font-size: 35px;
}

.getintouch{
	animation: slideRight 1s ease forwards;
}
.connect{
	animation: slideLeft 1s ease forwards;
	height: 500px;
}

.html{
	scroll-behavior: smooth;
}

 #myBtn {
  display: none; 
  position: fixed; 
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none; 
  outline: none; 
  background-image: linear-gradient(135deg, #F761A1 10%, #8C1BAB 100%);
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px; 
  height: 55px;
  width: 55px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  
}  

#myBtn:hover {
  background-image: linear-gradient(135deg, #FF0099 10%, #493240 100%);
}
  

/*KEYFRAMES ANIMATION*/
@keyframes slideTop{
	0%{
		opacity: 0;
		transform: translateY(100px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slideRight{
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes slideLeft{
	0%{
		opacity: 0;
		transform: translateX(100px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes slideBottom{
	0%{
		opacity: 0;
		transform: translateX(-100px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes aboutme{
	0%,40%,100%{
		transform: translateY(0)
	}
	20%{
		transform: translateY(-20px)
	}
}
@keyframes html{
	0%{
		width: 0%
	}
	100%{
		width: 95%;
	}
}
@keyframes css{
	0%{
		width: 0%
	}
	100%{
		width: 80%;
	}
}
@keyframes bootstrap{
	0%{
		width: 0%
	}
	100%{
		width: 90%;
	}
}
@keyframes java{
	0%{
		width: 0%
	}
	100%{
		width: 70%;
	}
}
@keyframes sql{
	0%{
		width: 0%
	}
	100%{
		width: 78%;
	}
}
@keyframes salesforce{
	0%{
		width: 0%
	}
	100%{
		width: 84%;
	}
}

/*   MEDIA QUERIES  */ 

 @media only screen and (max-width: 1848px) and (min-width: 1539px){
	 .row-img img{
		 margin-left: 180px;
	 }
	 .img-fluid{
		 max-width: 595px;
		 margin-left: 105px;
	 }
 }
 
  @media only screen and (max-width: 1540px) and (min-width: 1501px){
	 .row-img img{
		 margin-left: 160px;
	 }
	 .img-fluid{
		 max-width: 585px;
		 margin-left: 60px;
	 }
 }
 
 @media only screen and (max-width: 1500px) and (min-width: 1300px){
	 .row-img img{
		 margin-left: 130px;
	 }
	 .img-fluid{
		 max-width: 565px;
		 margin-left: 30px;
	 }
 }
 
 @media only screen and (max-width: 1256px) and (min-width: 1141px){
	 .home-content{
		 width: 487px;
	}
	.home-content h1{
		 font-size: 48px;
	 }
	 .home-content h2{
		 font-size: 35px;
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
	 }
	 
  @media only screen and (max-width: 1140px) and (min-width: 1091px){
	 .home-content{
		 width: 484px;
	}
	.home-content h1{
		 font-size: 48px;
	 }
	 .home-content h2{
		 font-size: 35px;
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
  }
	 
  @media only screen and (max-width: 1090px) and (min-width: 992px){
	 .home-content{
		 width: 430px !important;
	}
	.home-content h1{
		 font-size: 45px !important;
	 }
	 .home-content h2{
		 font-size: 31px !important; 
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 170px !important;
		 height: 68px;
		 font-size: 20px !important;
	 }
	 .row-img img{
		 margin-left: 50px;
    }
  }	 

  @media only screen and (max-width: 953px) and (min-width: 931px){
	  .img-fluid{
		 max-width: 480px;
		 margin-left: 220px;
	 }
	 .row-img img{
		 margin-left: 280px; 
    }
	 .home-content{
		width: 680px;
	}
	.home-content h1{
		 font-size: 48px;
	 }
	 .home-content h2{
		 font-size: 38px;
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 220px;
		 height: 68px;
		 font-size: 22px;
	 }
  }
  
  @media only screen and (max-width: 984px) and (min-width: 953px){
	  .img-fluid{
		 max-width: 490px;
		 margin-left: 230px;
	 }
	 .row-img img{
		 margin-left: 280px; 
    }
	 .home-content{
		width: 680px;
	}
	.home-content h1{
		 font-size: 48px;
	 }
	 .home-content h2{
		 font-size: 38px;
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 220px;
		 height: 68px;
		 font-size: 22px;
	 }
  }
  
  @media only screen and (max-width: 990px) and (min-width: 985px){
	  .img-fluid{
		 max-width: 480px;
		 margin-left: 220px;
	 }
	 .row-img img{
		 margin-left: 300px;
    }
	 .home-content{
		width: 680px;
	}
	.home-content h1{
		 font-size: 50px;
	 }
	 .home-content h2{
		 font-size: 40px;
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 220px;
		 height: 68px;
		 font-size: 22px;
	 }
	 .home-sci{
		 height: 200px;
	 }
	 .home-sci a{
		 height: 33px;
		 font-size: 15px;
		 width: 40px;
	 }
  }
  
  
  @media only screen and (max-width: 874px){
	 .img-fluid{
		max-width: 490px;
		margin-left: 170px;
	 }
	 .row-img img{
		margin-left: 240px;
    }
	 .home-content{
		width: 600px;
	}
	.home-content h1{
		 font-size: 48px;
	 }
	 .home-content h2{
		 font-size: 38px;
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 220px;
		 height: 68px;
		 font-size: 22px;
	 }
	 .home-sci{
		 height: 200px;
	 }
	 .home-sci a{
		 height: 33px;
		 font-size: 15px;
		 width: 40px;
	 }
  }
  
  @media only screen and (max-width: 930px) and (min-width: 875px){
	 .img-fluid{
		 max-width: 480px;
		 margin-left: 200px;
	  }
	 .row-img img{
		 margin-left: 250px;
     }
	 .home-content{
		width: 680px;
	 } 
	.home-content h1{
		 font-size: 50px;
	 }
	 .home-content h2{
		 font-size: 43px;
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 220px;
		 height: 68px;
		 font-size: 22px;
	 }
	 .home-sci{
		 height: 200px;
	 }
	 .home-sci a{
		 height: 33px;
		 font-size: 15px;
		 width: 40px;
	 }
  }
  
  @media only screen and (max-width: 770px) and (min-width: 761px){
	 .img-fluid{
		 max-width: 480px;
		 margin-left: 150px;
	  }
	 .row-img img{
		 margin-left: 220px;
     }
  }
  
  
  @media only screen and (max-width: 760px){
	 .img-fluid{
		 max-width: 490px;
		 margin-left: 120px;
	 }
	 .row-img img{
		 margin-left: 200px;
    }
	 .home-content{
		width: 550px;
	}
	.home-content h1{
		 font-size: 48px;
	 }
	 .home-content h2{
		 font-size: 38px;
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 220px;
		 height: 68px;
		 font-size: 22px;
	 }
	 .home-sci{
		 height: 200px;
	 }
	 .home-sci a{
		 height: 33px;
		 font-size: 15px;
		 width: 40px;
	 }
  }
  
  @media only screen and (max-width: 700px){
	 .img-fluid{
		max-width: 490px;
		margin-left: 110px;
	 }
	 .row-img img{
		margin-left: 180px;
     }
	 .home-content{
		width: 520px;
	 }
	.home-content h1{
		 font-size: 48px;
	 }
	 .home-content h2{
		 font-size: 36px;
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 190px;
		 height: 68px;
		 font-size: 22px;
	 }
	 .home-sci{
		 height: 200px;
	 }
	 .home-sci a{
		 height: 33px;
		 font-size: 15px;
		 width: 40px;
	 }
  }
  
  @media only screen and (max-width: 669px) and (min-width: 611px){
	 .home-content{
		 width: 460px;
	}
	 .img-fluid{
		 max-width: 490px;
		 margin-left: 60px;
	 }
	 .row-img img{
		 margin-left: 140px;
    }
	 .home-content h2{
		 font-size: 33px;
	 }
  }
  
  @media only screen and (max-width: 670px) and (min-width: 650px){
	 .img-fluid{
		 max-width: 490px;
		 margin-left: 80px;
	 }
	 .row-img img{
		 margin-left: 155px;
    }
  }
  
  @media only screen and (max-width: 610px){
	  .img-fluid{
		 max-width: 490px;
		 margin-left: 60px;
	 }
	 .row-img img{
		 margin-left: 140px;
    }
	 .home-content{
		width: 450px !important;
	}
	.home-content h1{
		 font-size: 48px;
	 }
	 .home-content h2{
		 font-size: 33px;
	 }
	 .home-content h4{
		 font-size: 30px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 190px;
		 height: 68px;
		 font-size: 22px;
	 }
	 .home-sci{
		 height: 200px;
	 }
	 .home-sci a{
		 height: 33px;
		 font-size: 15px;
		 width: 40px;
	 }
  }
  
  @media only screen and (max-width: 590px) and (min-width: 564px){
	 .home-content{
		width: 417px !important;
	}
	.home-content h1{
		 font-size: 43px;
	 }
	 .home-content h2{
		 font-size: 30px;
	 }
	 .home-content h4{
		 font-size: 27px;
		 margin-left: 5px;
	 }
	 .home-sci a{
		 height: 35px;
		 font-size: 15px;
		 width: 40px;
	 }
	 .buttons a{
		 width: 150px;
		 height: 65px;
		 font-size: 18px;
	 }
	 .img-fluid{
		margin-left: 40px;
	 }
	 .row-img img{
		 margin-left: 120px;
    }
  }
  
  @media only screen and (max-width: 562px) and (min-width: 531px){
	.home-content{
		width: 392px !important;
	}
	.home-content h1{
		 font-size: 43px;
	 }
	 .home-content h2{
		 font-size: 28px;
	 }
	 .home-content h4{
		 font-size: 27px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 150px;
		 height: 65px;
		 font-size: 18px;
	 }
	 .img-fluid{
		margin-left: 35px;
	 }
	 .row-img img{
		 margin-left: 115px;
    }
  }
  
   @media only screen and (max-width: 530px) and (min-width: 501px){
	.home-content{
		width: 365px !important;
	}
	.home-content h1{
		 font-size: 38px;
	 }
	 .home-content h2{
		 font-size: 26px;
	 }
	 .home-content h4{
		 font-size: 26px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 145px;
		 height: 65px;
		 font-size: 18px;
	 }
	 .home-sci{
		 margin-top: 25px;
	 }
	 .home-sci a{
		 height: 29px;
		 font-size: 13px;
		 width: 37px;
	 }
	 .img-fluid{
		margin-left: 17px;
	 }
	 .row-img img{
		 margin-left: 100px;
    }
  }
  
  @media only screen and (max-width: 500px) and (min-width: 471px){
	.home-content{
		width: 340px !important;
	}
	.home-content h1{
		 font-size: 36px;
	 }
	 .home-content h2{
		 font-size: 24px;
	 }
	 .home-content h4{
		 font-size: 24px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 135px;
		 height: 65px;
		 font-size: 18px;
	 }
	 .home-sci{
		 margin-top: 35px;
	 }
	 .home-sci a{
		 height: 27px;
		 font-size: 13px;
		 width: 37px;
	 }
	 .img-fluid{
		margin-left: 17px;
	 }
	 .row-img img{
		 margin-left: 85px;
    }
  }
  
    @media only screen and (max-width: 470px) and (min-width: 457px){
	.home-content{
		width: 331px !important;
	}
	.home-content h1{
		 font-size: 34px;
	 }
	 .home-content h2{
		 font-size: 24px;
	 }
	 .home-content h4{
		 font-size: 24px;
		 margin-left: 5px;
	 }
	 .buttons a{
		 width: 130px;
		 height: 65px;
		 font-size: 18px;
	 }
	 .home-sci{
		 margin-top: 35px;
	 }
	 .home-sci a{
		 height: 27px;
		 font-size: 13px;
		 width: 37px;
	 }
	 .img-fluid{
		margin-left: 15px;
	 }
	 .row-img img{
		 margin-left: 80px;
    }
  }
  
  @media only screen and (max-width: 456px) and (min-width: 431px){
	.home-content{
		width: 303px !important;
	}
	.home-content h1{
		 font-size: 31px;
	 }
	 .home-content h2{
		 font-size: 22px;
	 }
	 .home-content h4{
		 font-size: 24px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 40px;
	 }
	 .home-sci a{
		 height: 25px;
		 font-size: 15px;
		 width: 33px;
	 }
	 .buttons a{
		 width: 117px;
		 height: 65px;
		 font-size: 16px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 60px;
    }
  }
  
  @media only screen and (max-width: 430px) and (min-width: 401px){
	.home-content{
		width: 280px !important;
	}
	.home-content h1{
		 font-size: 27px;
	 }
	 .home-content h2{
		 font-size: 20px;
		 margin-left: 8px;
	 }
	 .home-content h4{
		 font-size: 23px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 77px;
	 }
	 .home-sci a{
		 height: 20px;
		 font-size: 11px;
		 width: 25px;
	 }
	 .buttons a{
		 width: 105px;
		 height: 55px;
		 font-size: 15px;
	 }
	 .img-fluid{
		margin-left: 5px;
	 }
	 .row-img img{
		 margin-left: 55px;
		 height: 320px;
		 width: 310px;
    }
  }
  
  @media only screen and (max-width: 370px) and (min-width: 361px){
	.home-content{
		width: 250px !important;
	}
	.home-content h1{
		 font-size: 23px;
	 }
	 .home-content h2{
		 font-size: 26px;
	 }
	 .home-content h4{
		 font-size: 22px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 68px;
	 }
	 .home-sci a{
		 height: 22px;
		 font-size: 12px;
		 width: 30px;
	 }
	 .buttons a{
		 width: 84px;
		 height: 35px;
		 font-size: 11px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 40px;
		 height: 300px;
		 width: 300px;
    }
  }
  
  @media only screen and (max-width: 400px) and (min-width: 381px){
	.home-content{
		width: 269px !important;
	}
	.home-content h1{
		 font-size: 23px;
	 }
	 .home-content h2{
		 font-size: 19px;
	 }
	 .home-content h4{
		 font-size: 20px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 85px;
	 }
	 .home-sci a{
		 height: 22px;
		 font-size: 11px;
		 width: 30px;
	 }
	 .buttons a{
		 width: 100px;
		 height: 35px;
		 font-size: 12px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 45px;
		 height: 300px;
		 width: 295px;
    }
  }
  
  @media only screen and (max-width: 380px) and (min-width: 371px){
	.home-content{
		width: 260px !important;
	}
	.home-content h1{
		 font-size: 23px;
	 }
	 .home-content h2{
		 font-size: 18px;
	 }
	 .home-content h4{
		 font-size: 20px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 90px;
	}
	 .home-sci a{
		 height: 22px;
		 font-size: 12px;
		 width: 30px;
	 }
	 .buttons a{
		 width: 95px;
		 height: 35px;
		 font-size: 13px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 45px;
		 height: 300px;
		 width: 295px;
    }
  }
  
  @media only screen and (max-width: 370px) and (min-width: 361px){
	.home-content{
		width: 252px !important;
	}
	.home-content h1{
		 font-size: 23px;
	 }
	 .home-content h2{
		 font-size: 18px;
	 }
	 .home-content h4{
		 font-size: 18px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 95px;
	 }
	 .home-sci a{
		 height: 22px;
		 font-size: 12px;
		 width: 30px;
	 }
	 .buttons a{
		 width: 84px;
		 height: 35px;
		 font-size: 11px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 40px;
		 height: 300px;
		 width: 300px;
    }
  }
  
  @media only screen and (max-width: 360px) and (min-width: 351px){
	.home-content{
		width: 237px !important;
	}
	.home-content h1{
		 font-size: 23px;
	 }
	 .home-content h2{
		 font-size: 16px;
	 }
	 .home-content h4{
		 font-size: 18px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 95px;
	 }
	 .home-sci a{
		 height: 22px;
		 font-size: 12px;
		 width: 30px;
	 }
	 .buttons a{
		 width: 84px;
		 height: 35px;
		 font-size: 11px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 40px;
		 height: 300px;
		 width: 300px;
    }
  }
  
  @media only screen and (max-width: 350px) and (min-width: 341px){
	.home-content{
		width: 230px !important;
	}
	.home-content h1{
		 font-size: 21px;
	 }
	 .home-content h2{
		 font-size: 16px;
	 }
	 .home-content h4{
		 font-size: 20px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 97px;
	 }
	 .home-sci a{
		 height: 22px;
		 font-size: 12px;
		 width: 30px;
	 }
	 .buttons a{
		 width: 80px;
		 height: 35px;
		 font-size: 11px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 35px;
		 height: 280px;
		 width: 285px;
    }
  }
  
  @media only screen and (max-width: 340px) and (min-width: 331px){
	.home-content{
		width: 225px !important;
	}
	.home-content h1{
		 font-size: 21px;
	 }
	 .home-content h2{
		 font-size: 15px;
	 }
	 .home-content h4{
		 font-size: 20px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 106px;
	 }
	 .home-sci a{
		 height: 22px;
		 font-size: 12px;
		 width: 30px;
	 }
	 .buttons a{
		 width: 77px;
		 height: 35px;
		 font-size: 11px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 35px;
		 height: 280px;
		 width: 285px;
    }
  }
  
  @media only screen and (max-width: 330px) and (min-width: 321px){
	.home-content{
		width: 215px !important;
	}
	.home-content h1{
		 font-size: 19px;
	 }
	 .home-content h2{
		 font-size: 15px;
	 }
	 .home-content h4{
		 font-size: 20px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 106px;
	 }
	 .home-sci a{
		 height: 22px;
		 font-size: 12px;
		 width: 30px;
	 }
	 .buttons a{
		 width: 73px;
		 height: 35px;
		 font-size: 11px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 35px;
		 height: 270px;
		 width: 265px;
    }
  }
  
  @media only screen and (max-width: 320px) and (min-width: 311px){
	.home-content{
		width: 206px !important;
	}
	.home-content h1{
		 font-size: 19px;
	 }
	 .home-content h2{
		 font-size: 14px;
	 }
	 .home-content h4{
		 font-size: 20px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 106px;
	 }
	 .home-sci a{
		 height: 18px;
		 font-size: 10px;
		 width: 28px;
	 }
	 .buttons a{
		 width: 68px;
		 height: 30px;
		 font-size: 9px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 35px;
		 height: 270px;
		 width: 265px;
    }
  }
  
  @media only screen and (max-width: 310px) and (min-width: 305px){
	.home-content{
		width: 200px !important;
	}
	.home-content h1{
		 font-size: 17px;
	 }
	 .home-content h2{
		 font-size: 17px;
	 }
	 .home-content h4{
		 font-size: 15px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 120px;
	 }
	 .home-sci a{
		 height: 18px;
		 font-size: 10px;
		 width: 28px;
	 }
	 .buttons a{
		 width: 65px;
		 height: 30px;
		 font-size: 9px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 35px;
		 height: 270px;
		 width: 265px;
    }
  }
  
  @media only screen and (max-width: 304px) and (min-width: 291px){
	.home-content{
		width: 193px !important;
	}
	.home-content h1{
		 font-size: 17px;
	 }
	 .home-content h2{
		 font-size: 17px;
	 }
	 .home-content h4{
		 font-size: 15px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 120px;
	 }
	 .home-sci a{
		 height: 18px;
		 font-size: 10px;
		 width: 25px;
	 }
	 .buttons a{
		 width: 62px;
		 height: 30px;
		 font-size: 9px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 27px;
		 height: 265px;
		 width: 257px;
    }
  }
  
  @media only screen and (max-width: 290px) and (min-width: 281px){
	.home-content{
		width: 183px !important;
	}
	.home-content h1{
		 font-size: 15px;
	 }
	 .home-content h2{
		 font-size: 16px;
	 }
	 .home-content h4{
		 font-size: 15px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 120px;
	 }
	 .home-sci a{
		 height: 16px;
		 font-size: 9px;
		 width: 22px;
	 }
	 .buttons a{
		 width: 56px;
		 height: 30px;
		 font-size: 8px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 24px;
		 height: 255px;
		 width: 247px;
    }
  }
  
  @media only screen and (max-width: 280px) and (min-width: 271px){
	.home-content{
		width: 178px !important;
	}
	.home-content h1{
		 font-size: 15px;
	 }
	 .home-content h2{
		 font-size: 16px;
	 }
	 .home-content h4{
		 font-size: 15px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 130px;
	 }
	 .home-sci a{
		 height: 16px;
		 font-size: 9px;
		 width: 22px;
	 }
	 .buttons a{
		 width: 54px;
		 height: 30px;
		 font-size: 8px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 20px;
		 height: 250px;
		 width: 244px;
    }
  }
  
  @media only screen and (max-width: 270px) and (min-width: 261px){
	.home-content{
		width: 168px !important;
	}
	.home-content h1{
		 font-size: 14px;
	 }
	 .home-content h2{
		 font-size: 16px;
	 }
	 .home-content h4{
		 font-size: 15px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 130px;
	 }
	 .home-sci a{
		 height: 16px;
		 font-size: 9px;
		 width: 22px;
	 }
	 .buttons a{
		 width: 49px;
		 height: 27px;
		 font-size: 7px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 20px;
		 height: 250px;
		 width: 240px;
    }
  }
  
  @media only screen and (max-width: 260px) and (min-width: 251px){
	.home-content{
		width: 160px !important;
	}
	.home-content h1{
		 font-size: 14px;
	 }
	 .home-content h2{
		 font-size: 16px;
	 }
	 .home-content h4{
		 font-size: 15px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 120px;
	 }
	 .home-sci a{
		 height: 16px;
		 font-size: 9px;
		 width: 22px;
	 }
	 .buttons a{
		 width: 45px;
		 height: 25px;
		 font-size: 6px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 20px;
		 height: 250px;
		 width: 240px;
    }
  }
  
  @media only screen and (max-width: 250px) and (min-width: 241px){
	.home-content{
		width: 150px !important;
	}
	.home-content h1{
		 font-size: 14px;
	 }
	 .home-content h2{
		 font-size: 16px;
	 }
	 .home-content h4{
		 font-size: 15px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 120px;
	 }
	 .home-sci a{
		 height: 16px;
		 font-size: 9px;
		 width: 22px;
	 }
	 .buttons a{
		 width: 40px;
		 height: 25px;
		 font-size: 5px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 10px;
		 height: 250px;
		 width: 230px;
    }
  }
  
  @media only screen and (max-width: 240px) and (min-width: 230px){
	.home-content{
		width: 150px !important;
	}
	.home-content h1{
		 font-size: 14px;
	 }
	 .home-content h2{
		 font-size: 16px;
	 }
	 .home-content h4{
		 font-size: 15px;
		 margin-left: 5px;
	 }
	.home-sci{
		 margin-top: 120px;
	 }
	 .home-sci a{
		 height: 16px;
		 font-size: 9px;
		 width: 22px;
	 }
	 .buttons a{
		 width: 40px;
		 height: 25px;
		 font-size: 5px;
	 }
	 .img-fluid{
		margin-left: 10px;
	 }
	 .row-img img{
		 margin-left: 10px;
		 height: 250px;
		 width: 230px;
    }
  }